{% extends 'base.html' %}
{% load static %}



{% block css_files %}
    {% comment %} <link rel="stylesheet" href="{% static 'blog/read-later.css' %}"> {% endcomment %}
{% endblock %}

{% block title %}
My Stored Postss
{% endblock title %}



{% block content %}

<section id="stored-posts">
    {% if not has_posts %}
    <p>You didn't save any posts for later</p>
    {% endif %}
    {% for post in posts  %}
      <li><a href="{% url 'post-detail-page' post.slug %}">{{ post.title }}</a></li>
    {% endfor %}
</section>



{% endblock content %}


